<h2><%= @list.name %> - <%= link_to "Edit", edit_list_path %></h2>

<ul>
  <% @list.tasks.each do |task| %>
  <li><%= link_to task.name, edit_list_task_path(@list, task) %></li>
  <% end %>
  <li><%= link_to "Add New Task", new_list_task_path(@list) %></li>
</ul>
