body {
  background-color: white;
  align-items: center;
  align-content: center;
}

.nav {
  position: relative;
  width: 100%;
  top: -16px;
  left: -10px;
  background-color: #54ACD2;
  height: 50px;
  margin-bottom: 0px;
  font-weight: bolder;
  font-size: 12px;
  padding-left: 15px;
  padding-top: 0px;
  color: white;
}


.left-nav {
  position: absolute;
  left: 10px;
}

.right-nav {
  position: absolute;
  right: 10px;
}

.nav-item {
  padding: 10px;
  display: inline-block;
  font-size: 20px;
  top: 0px;
  outline: 2px white solid;
  height: 50px;
  padding-right: 30px;
  left: -5px;
}

.container {
  position: relative;
  display: flex;
  top: 50px;
  width: 90%;
  min-height: 650px;
  margin-left: 5%;
  background-color: #EFEFEF;
}

.content {
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 20px;
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

.all-task li {
  display: block;
  justify-content: center;
}

.content li {
  list-style: none;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: 3px #EFEFEF solid;
  border-radius: 25px;
  background-color: #EB6B56;
  display: flex;
  justify-content: space-between;
}

input[type=text] {
  width: 200px;
  height: 30px;
}

input[type=checkbox] {
   width:20px;
   height:20px;
}

.all-tasks {
  margin-left: auto;
  margin-right: auto;
}

.all-tasks li {
  list-style: none;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: 3px #EFEFEF solid;
  border-radius: 25px;
  background-color: #EB6B56;
  box-shadow: 1px 1px 1px black;
}

.new-form {
  margin-left: auto;
  margin-right: auto;
}

.new-form li {
  font-size: 20px;
  list-style: none;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  /*border: 3px #EFEFEF solid;*/
}

.new-form ul {
  border-radius: 10px;
  background-color: #EB6B56;

}

h2 {
  color: black;
  font-size: 25px;
}

.new-form h2 {
  color: black;
  font-size: 25px;
}

.nav-button {
  font-size: 15px;
  border-radius: 10px;
  width: 100px;
  height: 20px;
  padding: 10px;
  text-align: center;
  box-shadow: 1px 1px 1px black;
  display: inline-block;
}

.button-one {
  background-color: #61BD6D;
}

.button-two {
  background-color: #9365B8;
}

.button-three {
  background-color: #E25041;
}

.content-navigation {
  display: inline-flex;
  justify-content: space-between;
  width: 700px;
  height: auto;
  vertical-align: middle;
  height: 30px;
  padding-bottom: 40px;
}
